body{

background:#050008;
color:white;
font-family:Arial;
margin:0;

}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:rgba(0,0,0,0.7);

border-bottom:1px solid #8b00ff;

position:sticky;
top:0;

}

/* LOGO */

.logo-container{

display:flex;
align-items:center;
gap:10px;

}

.logo{

width:40px;

}

.logo-text{

font-weight:bold;
font-size:20px;

}

/* NAV LINKS */

.nav-links{

display:flex;
gap:30px;
list-style:none;

}

.nav-links a{

text-decoration:none;
color:white;
font-size:16px;

}

.nav-links a:hover{

color:#c56cff;
text-shadow:0 0 10px #c56cff;

}

/* HERO */

.hero{

height:70vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

}

.hero h1{

font-size:90px;

text-shadow:
0 0 20px #a64dff,
0 0 40px #7a00ff;

}

.hero p{

font-size:20px;
margin-bottom:30px;

}

/* HERO BUTTONS */

.hero-buttons{

display:flex;
gap:20px;

}

.hero-btn{

padding:12px 25px;

background:rgba(0,0,0,0.4);

border:1px solid #7a00ff;

border-radius:6px;

text-decoration:none;
color:white;

transition:0.3s;

}

.hero-btn:hover{

box-shadow:0 0 15px #7a00ff;
transform:translateY(-3px);

}

/* STATS */

.stats{

display:flex;
justify-content:center;

gap:40px;

flex-wrap:wrap;

padding:60px;

}

/* STAT CARDS */

.stat-card{

background:rgba(0,0,0,0.5);

padding:30px 40px;

border-radius:10px;

border:1px solid #7a00ff;

text-align:center;

min-width:180px;

transition:0.3s;

}

.stat-card:hover{

transform:translateY(-5px);

box-shadow:0 0 20px #7a00ff;

}

.stat-card h2{

font-size:40px;

color:#c56cff;

}

/* FOOTER */

footer{

text-align:center;
padding:40px;

border-top:1px solid #5500aa;

}
