body{
background:#050008;
color:white;
font-family:sans-serif;
margin:0;
overflow-x:hidden;
}

/* PARTICLE BACKGROUND */

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;

position:fixed;
width:100%;

background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);

border-bottom:1px solid #a100ff;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#cc66ff;
text-shadow:0 0 10px #cc66ff;
}

/* HERO */

.hero{
height:90vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;
}

.hero h1{
font-size:120px;
color:#d27aff;

text-shadow:
0 0 20px #d27aff,
0 0 60px #7b00ff;
}

/* PANELS */

.panels{
display:flex;
justify-content:center;
gap:40px;
margin:60px;
flex-wrap:wrap;
}

.panel{
padding:60px 80px;

background:rgba(0,0,0,0.35);
backdrop-filter:blur(12px);

border:1px solid #7a00ff;
border-radius:15px;

transition:0.3s;

text-decoration:none;
color:white;
}

.panel:hover{
transform:translateY(-8px);

box-shadow:
0 0 20px #7a00ff,
0 0 60px #7a00ff;
}

/* STATS */

.stats{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-bottom:100px;
}

.stat-card{
background:rgba(0,0,0,0.4);

padding:40px;
border-radius:10px;

border:1px solid #8800ff;

text-align:center;
}

footer{
text-align:center;
padding:40px;
border-top:1px solid #5500aa;
}
